.content {
  position: relative;
  z-index: 20;
  margin-top: 70px !important;
}
.content .content__spa {
  display: flex;
}
.content .content__spa .content__spa_lc .content__subtitle {
  font-size: 27px;
  margin: 20px 0 20px 70px;
  position: relative;
}
.content .content__spa .content__spa_lc .content__subtitle::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #F10749;
  left: -15px;
}
.content .content__spa .content__spa_rc {
  position: relative;
  flex: 1 0 auto;
  background: url("../img/spabgpng.png") no-repeat top center;
  background-size: contain;
}
.content .content__text {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  position: relative;
  z-index: 50;
}
.content .content__text p {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 1px #ccc solid;
  padding: 25px 15px;
}
.content .content__spa_oth {
  margin-top: 70px;
  display: flex;
}
.content .content__spa_oth .content__spa_oth_lc {
  position: relative;
  flex: 1 0 auto;
}
.content .content__spa_oth .content__spa_oth_lc::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: rgb(42, 14, 32);
  background: radial-gradient(circle, rgb(42, 14, 32) 0%, rgba(15, 14, 25, 0) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a0e20",endColorstr="#0f0e19",GradientType=1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.content .content__spa_oth .content__spa_oth_lc .content__spa_oth_lc_wrapper {
  position: relative;
  z-index: 50;
  background: url("../img/spabgpng2.png") no-repeat top center;
  background-size: contain;
  height: 300px;
}
.content .content__spa_oth .content__spa_oth_rc {
  position: relative;
  z-index: 20;
  width: 55%;
  display: flex;
  align-items: center;
}
.content .content__spa_oth .content__spa_oth_rc p {
  line-height: normal;
}
.content .content__title_tech {
  margin-top: 70px;
  position: relative;
}
.content .content__title_tech::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: rgb(42, 14, 32);
  background: radial-gradient(circle, rgb(42, 14, 32) 0%, rgba(15, 14, 25, 0) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a0e20",endColorstr="#0f0e19",GradientType=1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.content .content__title_tech h1 {
  position: relative;
  z-index: 50;
}
.content .content__tech {
  position: relative;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content .content__tech .content__tech_item {
  flex-grow: 1;
  flex-basis: 30%;
  position: relative;
  border-radius: 5px;
  border: 1px rgb(116, 116, 116) solid;
  padding: 15px 25px;
  margin: 20px;
  transition: 0.5s;
}
.content .content__tech .content__tech_item .tech__header {
  display: flex;
}
.content .content__tech .content__tech_item .tech__header svg {
  width: 35px;
  height: 35px;
  fill: #EB273F;
  transition: 0.5s;
}
.content .content__tech .content__tech_item .tech__header h2 {
  margin-bottom: 30px;
  margin-left: 20px;
  position: relative;
  top: 3px;
}
.content .content__tech .content__tech_item:hover {
  background-color: #EB273F;
  border: 1px #EB273F solid;
  box-shadow: #EB273F 0px 0px 100px;
}
.content .content__tech .content__tech_item:hover a {
  transform: translateY(0px);
  opacity: 1;
}
.content .content__tech .content__tech_item:hover svg {
  fill: #fff;
}
.content .content__tech .content__tech_item a {
  position: absolute;
  z-index: 50;
  top: 20px;
  right: 20px;
  background-color: #EB273F;
  border-radius: 4px;
  border: 1px #fff solid;
  padding: 10px 7px;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
  color: #fff;
  text-decoration: none;
}
.content .content__tech .content__tech_item a:hover {
  cursor: pointer;
}